<ngxux-mat-dialog id="social"
                  (nextClick)="onNextClick()"
                  [nextEnabled]="true">

    <div class="wrapper">

        <h1>Share</h1>

        <mat-form-field>

            <textarea placeholder="Edit your message..." matInput
                      [value]="socialShareService.message"></textarea>

        </mat-form-field>

        <div *ngFor="let icon of icons">

            <mat-checkbox>{{icon.label}}</mat-checkbox>

        </div>

    </div>

</ngxux-mat-dialog>
