:host {

    .wrapper {

        display: flex;
        padding: 15px;

        .left {

            flex: 0 1 200px;

        }

        .right {

            flex: 1;

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

        }
    }

}
