<div class="wrapper">

    <div class="left">

        <div class="logo">

            <img src="/assets/gfx/logo-withbulb.png">

        </div>

        <div class="menu">

            <div class="item">Home</div>
            <div class="item">Ideas</div>

        </div>

    </div>

    <div class="right">

        <div class="user">

            <i class="fas fa-user-astronaut"></i>

            <span>Matthew</span>

            <i class="fal fa-angle-down"></i>

        </div>

    </div>

</div>
