<div class="wrapper">

    <div class="left">

        <div class="hamburger">

            <i class="fas fa-bars"></i>

        </div>

        <div class="logo">

            <img src="/assets/icon.png">

        </div>

    </div>

    <div class="center">

        <input matInput
               placeholder="Search ideation..">

        <div class="link">

            Home

        </div>

        <div class="link">

            Ideas

        </div>

        <div class="link">

            About

        </div>

        <div class="link">

            Login

        </div>

        <div class="link" (click)="signupDialogService.open()">

            Signup

        </div>

    </div>

    <div class="right">

        <button mat-stroked-button (click)="postDialogService.open()">

            <i class="fad fa-layer-plus"></i>

            Post Idea

        </button>

        <i class="fas fa-user-astronaut"></i>

    </div>

</div>
