:host {
    
    .wrapper {
        
        display: flex;
        align-items: center;
        background: #2B2E34;
        
        svg {
            
            cursor: pointer;
            
            font-size: 20px;
            color: #6F69AF;
            
            &:hover {
                
                color: #666;
                
            }
            
        }
        
        .left {
            
            display: flex;
            align-items: center;
            
            padding: 10px;
            margin-left: 10px;
            
            .logo {
                
                padding-left: 20px;
                
                img {
                    
                    width: 40px;
                    
                }
                
            }
            
        }
        
        .center {
            
            display: flex;
            align-items: center;
            flex: 1;
            padding: 10px;
            
            input {
                
                width: 400px;
                padding: 7px;
                font-size: 15px;
                border: 1px solid #444852;
                border-radius: 3px;
                background: #444852;
                color: #999;
                
            }
            
            .link {
                
                color: #eee;
                cursor: pointer;
                margin-left: 20px;
                
                &:hover {
                    
                    color: #6F69AF;
                    
                }
                
            }
            
        }
        
        .right {
            
            padding: 10px;
            margin-right: 10px;
            
            button {
                
                margin: 10px 25px 10px 10px;
                color: #eee;
                
                svg {
                    
                    margin: 10px;
                    color: #eee;
                    
                }
                
            }
            
        }
        
    }
    
}
