:host {

    .wrapper {

        .header {

            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #6F69AF;
            padding: 15px;

            .left {

                flex: 1;

                font-size: 20px;
                color: white;

            }

        }

    }

    .content {

        display: flex;
        padding: 15px;

        .left {

            flex: 0 1 300px;


        }

        .right {

            border-left: 1px solid #6a9ef4;
            padding-left: 30px;

        }
    }

}
