:host {

    .wrapper {

        font-size: 20px;

        .left {

            .header {

                display: flex;
                color: #6F69AF;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #6F69AF;
                padding: 15px;

            }

            .info {

                display: flex;
                flex-direction: row;
                flex-grow: initial;
                padding: 15px;
                color: white;

                h2 {

                    font-size: 20px;

                }

            }

            .flex-container {

                display: flex;

                img {

                    padding: 15px;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;


                }

            }


        }

        .right {

            color: white;
            position: absolute;
            right: 0;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            .contact {


            }


        }

    }

}
