
:host {

    .wrapper {

        font-size: 20px;

        .header {

            display: flex;
            color: #6F69AF;
            border-bottom: 2px solid #6F69AF;
            padding: 15px;

        }

        .walkingman {
            display: flex;
            float: right;
            margin: 15px;
            padding-top: 20px;

        }

        .left {

            .info {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                color: rgba(203, 203, 203, 0.87);
                padding: 15px;

                h2 {

                    font-size: 20px;

                }

                p {
                    font-weight: lighter;
                    margin-right: 100px;
                    text-align: left;

                    color: #EEEEEE;
                    justify-content: space-evenly;

                }
            }

            button {

                flex-direction: row;
                justify-content: center;
                width: 192px;
                height: 40px;
                background: none;
                border: 2px solid #6F69AF;
                border-radius: 6px;
                font: inherit;
                color: rgba(255, 255, 255, 0.87);
                font-size: 12px;
                font-weight: 700;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;

            }

            button:hover {

                background-color: #6F69AF;
                color: black;
                cursor: pointer;

            }
        }

        .right {

        }

        .flex-wrap {

            .title {

                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: 15px;
                color: rgba(203, 203, 203, 0.87);
                margin-top: 45px;

                h1 {

                    padding-left: 15px;
                    color: rgba(203, 203, 203, 0.87);
                    margin-top: 45px;

                }
            }
        }
    }
}

