<div class="wrapper">

    <div class="header">

        <div class="left">

            About

        </div>


        <div class="right">


        </div>

    </div>

    <div class="content">

        <div class="left">

            <div class="title">

                Drop us a line

            </div>

            <div class="contact">

                <form [formGroup]="formGroup">

                    <div>

                        <mat-form-field>

                            <input matInput
                                   formControlName="name"
                                   placeholder="Your Name">

                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field>

                            <input matInput
                                   formControlName="email"
                                   placeholder="Your Email">

                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field>

                <textarea matInput
                          formControlName="message"
                          placeholder="Write a Message">

                </textarea>

                        </mat-form-field>

                    </div>

                </form>

                <button mat-raised-button

                        color="warn"
                        (click)="onSubmitClick()"
                        [disabled]="!formGroup.valid">Submit

                </button>

            </div>

        </div>

    </div>

</div>
