<div class="wrapper">

    <div class="left">

        <div class="header">

            About

        </div>

        <!-- Info -->

        <div class="info">
            <div class="row">
                <h2>Post</h2>
                <p>Post your ideas</p>
            </div>

            <div class="row">
                <h2>Inspire</h2>
                <p>Show off your ideas (or steal someone elses)</p>
            </div>

            <div class="row">
                <h2>Share</h2>
                <p>Share it to the world</p>
            </div>

            <div class="video">

                <iframe width="360" height="215" src="https://www.youtube.com/embed/Nym_-DNB42s" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </div>

            <div class="contact">

                <form [formGroup]="formGroup">

                    <div class="title">

                        Drop us a line

                    </div>

                    <div>

                        <mat-form-field>

                            <input matInput
                                   formControlName="name"
                                   placeholder="Your Name">

                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field>

                            <input matInput
                                   formControlName="email"
                                   placeholder="Your Email">

                        </mat-form-field>

                    </div>

                    <div>

                        <mat-form-field>

                            <textarea matInput
                                      formControlName="message"
                                      placeholder="Write a Message">
                            </textarea>

                        </mat-form-field>

                    </div>

                    <div class="pleasework">

                        <button mat-raised-button

                                color="warn"
                                (click)="onSubmitClick()"
                                [disabled]="!formGroup.valid">Submit

                        </button>

                    </div>

                </form>

            </div>

        </div>

        <!--End of Contact-->

        <!-- Images -->

        <div class="flex-container">

            <div class="title">

                Creators

            </div>

            <a href="https://github.com/lydi-alpine">
                <span class="dot"></span>
            </a>

            <a href="https://github.com/mateothegreat">
                <span class="dot"></span>
            </a>

            <a href="https://github.com/rw3iss">
                <span class="dot"></span>
            </a>

        </div>

        <!-- End of Images -->

        <!-- End of Left Div -->

    </div>

</div>
