<ngxux-mat-dialog id="resetPassword"
                  [nextEnabled]="formGroup.valid"
                  (nextClick)="onSubmitClick()">

    <div class="wrapper">


        cho cha: {{ resetPasswordService.changchang }}
        <form [formGroup]="formGroup">

            <mat-form-field>

                <label>

                    <input matInput
                           placeholder="Password"
                           formControlName="password">

                </label>

            </mat-form-field>

            <mat-form-field>

                <label>

                    <input matInput
                           placeholder="Confirm Password"
                           formControlName="confirmPassword">

                </label>

            </mat-form-field>

        </form>

    </div>

</ngxux-mat-dialog>
