:host {
    
    .wrapper {
        
        width: 280px;
        margin: 10px;
        cursor: pointer;
        
        padding: 10px;
        
        mat-card {
            
            background: #5b616e;
            padding: 0;
            
            &:hover {
                
                background: #6F69AF;
                color: #fff;
                
            }
            
            .top {
                
                background: limegreen;
                padding: 4px;
                
            }
            
            .content {
                
                padding: 10px;
                
                .user {
                    
                    font-size: 14px;
                    margin-bottom: 4px;
                    color: #6a9ef4;
                    
                }
                
                .title {
                    
                    font-size: 18px;
                    margin-bottom: 8px;
                    color: #eee;
                    
                }
                
                .description {
                    
                    font-size: 14px;
                    height: 100px;
                    
                }
                
            }
            
            .bottom {
                
                display: flex;
                font-size: 13px;
                
                div {
                    
                    border: 1px solid #6F69AF;
                    border-radius: 8px;
                    padding: 5px;
                    margin: 5px;
                    
                    &:hover {
                        
                        background: #5b616e;
                        color: #fff;
                        
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}
