<div class="wrapper">

    <mat-card>

        <div class="top"></div>

        <div class="content">

            <div class="user">

                matteo

            </div>

            <div class="title">

                Create a trello clone

            </div>

            <div class="description">

                Create a trello clone reate a trello clone reate a trello clone reate a trello clone reate a trello
                clone...

            </div>

        </div>

        <div class="bottom">

            <div class="comments">

                12 comments

            </div>

            <div class="likes">

                9 likes

            </div>

        </div>

    </mat-card>

</div>
