<ngxux-mat-dialog id="password"
                  [nextEnabled]="formGroup.valid"
                  (click)="onSubmitClick()">

    <div class="wrapper">

        <form [formGroup]="formGroup">

            <div>

                <mat-form-field>

                    <label>

                        <input matInput
                               placeholder="Email Address"
                               formControlName="email">

                    </label>


                </mat-form-field>

            </div>

            <div>

                <mat-form-field>

                    <label>

                        <input matInput
                               placeholder="Password"
                               type="password"
                               formControlName="password">

                    </label>

                </mat-form-field>

            </div>

        </form>

    </div>

</ngxux-mat-dialog>

