:host {

    .wrapper {

        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;

        &:hover {

            background: #2B2E34;

            .label {

                color: limegreen;

            }

        }

        .picture {

            margin-right: 10px;

        }

        .label {

            color: #9476ff;

        }

    }

}
