<app-search-header></app-search-header>

<div class="wrapper">

    <div class="left">

        <app-left-nav></app-left-nav>

    </div>

    <div class="content">

        <div class="top">

            <div class="left">

                <app-user-label username="mateothegreat"></app-user-label>

            </div>

            <div class="right">

                <app-social-share-buttons [message]="idea.shareMessage"></app-social-share-buttons>

            </div>

        </div>

        <div class="created">

            January 1, 2019 @ 3:45 pm

        </div>

        <div class="title">

            {{ idea?.title }}

        </div>

        <div class="description" [innerHtml]="idea?.description">

        </div>

        <div class="tags">

            <ngxux-autocomplete [items]="tags"
                                placeholder="Tags"></ngxux-autocomplete>

        </div>

        <div class="comments">


        </div>

    </div>

</div>
