:host {

    .wrapper {

        display: flex;
        padding: 15px;

        .content {

            .top {

                display: flex;
                margin-bottom: 15px;
                justify-content: space-between;

            }

            .created {

                color: #777;
                font-size: 12px;
                margin-bottom: 5px;

            }

            .title {

                color: #eee;
                margin-bottom: 15px;
                font-size: 20px;

            }

            .description {

                color: #b0b0b0;

            }

            .tags {

                margin-top: 100px;

            }

        }

        .right {


        }

    }

}
