@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~ngx-toastr/toastr.css";

body {
    
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
    
    font-family: Lato, Roboto, sans-serif;
    
    background: #23262a url('assets/bg.png') no-repeat fixed bottom right;
    
}

* {
    
    outline: none;
    
}

button[disabled] {
    
    background-color: #666 !important;
    
}

mat-dialog-container {
    
    padding: 0 !important;
    
}

ngxux-mat-dialog {
    
    .header, .footer {
        
        background: #2B2E34 !important;
        
    }
    
    .content {
        
        background: #1d2025 !important;
        
    }
    
}

.editor {
    
    background: #444852;
    
    textarea {
        
        height: 550px !important;
        background: #999999;
        padding: 5px !important;
        
    }
    
    pre {
        
        background: #5b616e;
        padding: 5px;
        
    }
}

.mat-badge-content {
    
    background: rgba(0, 0, 0, .1);
    right: 2px !important;
    top: -14px !important;
    
    
}

.down {
    
    .mat-badge-content {
        
        top: 20px !important;
        
    }
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
