@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~ngx-toastr/toastr.css";

body {
    
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
    
    font-family: Lato, Roboto, sans-serif;
    
    background: #23262a;
    
}

* {
    
    outline: none;
    
}

mat-dialog-container {
    
    padding: 0 !important;
    
}

ngxux-mat-dialog {
    
    .header, .footer {
        
        background: #2B2E34 !important;
        
    }
    
    .content {
        
        background: #1d2025 !important;
        
    }
    
}
