:host {
    
    .wrapper {
        
        .header {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #6F69AF;
            padding: 15px;
            
            .left {
                
                flex: 1;
                
                font-size: 20px;
                color: #6F69AF;
                
            }
            
            .right {
                
                mat-button-toggle-group {
                    
                    margin-left: 15px;
                    
                }
                
                .mat-button-toggle-appearance-standard {
                    
                    background: #5b616e !important;
                    
                }
                
                .mat-button-toggle-checked {
                    
                    background: #444852 !important;
                    
                }
                
                svg {
                    
                    font-size: 25px;
                    
                }
                
            }
            
        }
        
        .content {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 100px;
            
        }
        
    }
    
}
