<div class="wrapper">

    <div class="header">

        <h2>Hi Matthew! Welcome back.</h2>

        <p>

            Check out your latest ideas.

            <a>View latest ideas..</a>

        </p>

    </div>

    <div class="widgets">

        <app-home-widget title="Manage your ideas."
                         icon="/assets/gfx/icon-code.png"
                         linkText="Manage Ideas"
                         linkPath="/ideas"></app-home-widget>

        <app-home-widget title="Manage your ideas."
                         icon="/assets/gfx/icon-mobile.png"
                         linkText="Manage Ideas"
                         linkPath="/ideas"></app-home-widget>

        <app-home-widget title="Manage your ideas."
                         icon="/assets/gfx/icon-chart.png"
                         buttonColor="warn"
                         linkText="Manage Ideas"
                         linkPath="/ideas"></app-home-widget>

    </div>

</div>
