<div class="wrapper">

    <div class="header">

        <div class="left">

            Explore Ideas

        </div>

        <div class="right">

            <mat-button-toggle-group name="fontStyle" value="recent">

                <mat-button-toggle value="recent">Recent</mat-button-toggle>
                <mat-button-toggle value="popular">Popular</mat-button-toggle>

            </mat-button-toggle-group>

            <mat-button-toggle-group name="fontStyle" value="asc">

                <mat-button-toggle value="asc">

                    <i class="fad fa-sort-alpha-down"></i>

                </mat-button-toggle>

                <mat-button-toggle value="desc">

                    <i class="fad fa-sort-alpha-up"></i>

                </mat-button-toggle>

            </mat-button-toggle-group>

            <mat-button-toggle-group name="fontStyle" value="recent">

                <mat-button-toggle value="recent">

                    <i class="fad fa-sliders-h-square"></i>

                </mat-button-toggle>

            </mat-button-toggle-group>

        </div>

    </div>

    <div class="content">

        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>

    </div>

</div>
