:host {
    
    .vote {
        
        margin-right: 7px;
        margin-top: 7px;
        
        svg {
            
            color: #666;
            font-size: 30px;
            
        }
        
        svg:hover {
            
            color: rebeccapurple;
            
        }
        
    }
    
}
